.brd {
  border: 1px solid #D8D8D8;

  // colors

  &-white {
    border: 1px solid #FFF;
  }

  // radius

  &-rds {
    border-radius: 8px;

    &-3 {
      border-radius: 3px;
    }

    &-16 {
      border-radius: 16px;
    }

    &-25 {
      border-radius: 25px;
    }

    &-50p {
      border-radius: 50%;
    }
  }